.markdown {
    margin: 0 auto;
    padding: 0 auto;
}

.markdown h1 {
    margin: 10px 0 0 0;
}

.markdown h2 {
    margin: 10px 0 0 0;
}

.markdown p {
    padding: 0;
    margin: 5px 0 0 0;
}

.markdown ul {
    padding: 0 0 0 25px;
    margin: 12px 0;
}

.markdown ul > li {
    padding: 0;
    list-style: disc;
}

.markdown pre {
    margin: 0;
    padding: 5px;
}